.admin_group_grid{
  display: grid; grid-template-columns: 260px calc(100% - 260px);
  height: 100%;
}



/* Nav in Admin */
/* Nav in Admin */
/* Nav in Admin */
.admin_group_grid > .nav{
  display: flex; flex-direction: column;
  width: 100%; height: 100%; padding-top: 12px;
  background-color: #fff;
}
.nav > div{
  display: flex; flex-direction: column; align-items: center;
  width: 100%; margin-bottom: 24px;
}
.nav > div > h1{
  margin-bottom: 12px;
  font-size: 24px;
}
.nav > div > img{
  width: 180px; height: 180px; border-radius: 50%;
}
.nav > ul > li{
  height: 52px; padding-left: 24px;
  font-size: 24px; line-height: 52px; color: #101820;
  cursor: pointer; transition: .5s;
}
.nav > ul > li:hover{
  background-color: #101820;
  color: #fff;
}
.nav > ul > li:hover > i{
  color: #fff;
}
.nav > ul > li > i{
  margin-right: 8px;
}







.admin_group_grid > .admin_container{
  width: 100%; height: 100%;
  background-color: #ecf0f1;
}

/* Dashboard in Admin */
/* Dashboard in Admin */
/* Dashboard in Admin */
.admin_group_grid > .admin_container > .admin_dashboard{
  display: grid; grid-template-rows: 40% 60%; grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "members posts chats"
  "chart chart chart";
  height: 100%;
}
.admin_dashboard > div{
  margin: 12px;
  background-color: #c4e3f0; border: 1px solid #000;
  font-size: 36px;
}
.admin_dashboard > .members{
  grid-area: members;
}
.admin_dashboard > .posts{
  grid-area: posts;
}
.admin_dashboard > .chats{
  grid-area: chats;
}
.admin_dashboard > .chart{
  grid-area: chart;
  margin-top: 12px;
}

/* Recording in Admin */
/* Recording in Admin */
/* Recording in Admin */
.admin_group_grid > .admin_container > .admin_recording{
  height: 100%; padding: 16px;
}
.admin_recording > .record_form{
  display: flex; flex-direction: column; align-items: center;
  width: 550px;
}
.admin_recording > .record_form > .title_box{
  display: flex;
  width: 100%; margin-bottom: 12px; padding: 8px;
}
.admin_recording > .record_form > .title_box > h1{
  width: 50%;
  font-size: 24px; text-align: center;
}
.admin_recording > .record_form > .date_box{
  display: flex; justify-content: flex-end; align-items: center;
  width: 100%; margin-bottom: 8px;
}
.admin_recording > .record_form > .date_box > div:first-child{
  margin-right: 8px;
}
.admin_recording > .record_form > .date_box > div:nth-child(2){
  margin-right: 8px;
}
.admin_recording > .record_form > .date_box ul{
  max-height: 300px;
  overflow: auto;
  scrollbar-color: rgba(116, 185, 255, .5) rgba(255, 255, 255, 0); scrollbar-width: thin;
}
.admin_recording > .record_form > .search_box{
  display: flex; justify-content: space-between;
  width: 100%; margin-bottom: 8px; padding: 8px;
  border: 1px solid #101820; border-radius: 4px;
}
.admin_recording > .record_form > .search_box > div{
  width: 45%; 
}
.admin_recording > .record_form > .selected_members{
  display: flex; justify-content: space-between;
  width: 100%; margin-bottom: 8px; padding: 8px;
  border: 1px solid #101820; border-radius: 4px;
}
.admin_recording > .record_form > .selected_members > div{
  width: 50%;
}
.admin_recording > .record_form > .selected_members > div:first-child{
  margin-right: 8px;
}
.admin_recording > .record_form > .buttons{
  display: flex; justify-content: center;
  width: 100%; margin-bottom: 8px;
}
.admin_recording > .record_form > .buttons > button{
  max-width: 240px;
}
.admin_recording > .record_form > .buttons > button:first-child{
  margin-right: 8px;
}

.admin_recording .members{
  display: flex; flex-direction: column;
  width: 100%; padding: 8px;
  border: 1px solid #101820; border-radius: 4px;
}
.admin_recording .member{
  position: relative;
  height: 64px; margin-bottom: 8px;
  background-color: #fff; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.admin_recording .member:last-child{
  margin-bottom: 0;
}
.admin_recording .member > img{
  position: absolute; top: 50%; left: 4px; transform: translateY(-50%);
  width: 56px; height: 56px;
}
.admin_recording .member > .info{
  display: flex; flex-direction: column;
  position: absolute; top: 50%; left: 72px; transform: translateY(-50%);
}
.admin_recording .member > .info > span:first-child{
  margin-bottom: 6px;
  font-size: 28px;
}
.admin_recording .member > .info > span:last-child{
  font-size: 20px;
}
.admin_recording .member > i{
  display: flex; justify-content: center; align-items: center;
  position: absolute; top: 50%; right: 4px; transform: translateY(-50%);
  width: 56px; height: 56px;
  background-color: #2ecc71;
  font-size: 40px; line-height: 40px;
  cursor: pointer;
}
.admin_recording .member > i:hover{
  background-color: #27ae60;
}

.admin_recording > .record_form > .selected_members .member{
  height: 48px;
}
.admin_recording > .record_form > .selected_members .member > img{
  width: 40px; height: 40px;
}
.admin_recording > .record_form > .selected_members .member > .info{
  left: 52px;
}
.admin_recording > .record_form > .selected_members .member > .info > span:first-child{
  margin-bottom: 2px;
  font-size: 20px;
}
.admin_recording > .record_form > .selected_members .member > .info > span:last-child{
  font-size: 12px;
}
.admin_recording > .record_form > .selected_members .member > i{
  width: 40px; height: 40px;
  font-size:  24px; line-height: 24px;
}

/* Members in Admin */
/* Members in Admin */
/* Members in Admin */
.admin_group_grid > .admin_container > .admin_members{
  display: grid; grid-template-columns: repeat(3, 1fr);
  height: 100%;
}
.admin_members > div{
  display: flex; justify-content: center; align-items: center;
}
.admin_members > div > div{
  display: flex; flex-direction: column; align-items: center;
  width: 460px; height: 90%;
  background-color: #fff; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.admin_members > div > div > h1{
  padding: 18px 0;
  font-size: 24px; line-height: 60px;
}
.admin_members .members_box > div{
  width: 100%; height: calc(100% - 60px); padding: 0 32px;
  overflow: auto;
}
.admin_members .members_box > div > .member{
  position: relative;
  width: 100%; height: 90px;
  border-bottom: 1px solid #636e72;
}
.admin_members .members_box > div > .member > img{
  position: absolute; top: 50%; left: 0; transform: translateY(-50%);
  width: 68px; height: 68px; border-radius: 50%;
}
.admin_members .members_box > div > .member > div{
  position: absolute; top: 50%; left: 76px; right: 76px; transform: translateY(-50%);
  height: 68px;
}
.admin_members .members_box > div > .member > div > span:nth-child(1){
  position: absolute; top: 0;
  font-size: 20px; word-break: keep-all;
}
.admin_members .members_box > div > .member > div > span:nth-child(2){
  position: absolute; top: 50%; transform: translateY(-50%);
  font-size: 14px; color: #636e72; word-break: keep-all;
}
.admin_members .members_box > div > .member > div > span:nth-child(3){
  position: absolute; bottom: 0;
  font-size: 14px; color: #636e72; word-break: keep-all;
}
.admin_members .members_box > div > .member > ul{
  position: absolute; top: 50%; transform: translateY(-50%); right: 0;
  width: 68px; height: 68px;
}
.admin_members .members_box > div > .member > ul > li{
  position: absolute;
  width: 100%;
  border-radius: 4px;
  font-size: 12px; color: #fff; line-height: 20px; text-align: center;
  cursor: pointer;
}
.admin_members .members_box > div > .member > ul > li:nth-child(1){
  top: 0;
  background-color: #c0392b;
}
.admin_members .members_box > div > .member > ul > li:nth-child(2){
  top: 50%; transform: translateY(-50%);
  background-color: #2980b9;
}
.admin_members .members_box > div > .member > ul > li:nth-child(3){
  bottom: 0;
  background-color: #27ae60;
}
.admin_members .members_box > div > .member > ul > li:nth-child(1):hover{

}

.admin_members .awaitors_box > div{
  width: 100%; height: calc(100% - 60px); padding: 0 32px;
  overflow: auto;
}
.admin_members .awaitors_box > div > .awaitor{
  position: relative;
  width: 100%; height: 90px;
  border-bottom: 1px solid #636e72;
}
.admin_members .awaitors_box > div > .awaitor > img{
  position: absolute; top: 50%; left: 0; transform: translateY(-50%);
  width: 68px; height: 68px; border-radius: 50%;
}
.admin_members .awaitors_box > div > .awaitor > div{
  position: absolute; top: 50%; left: 76px; transform: translateY(-50%);
  height: 68px;
}
.admin_members .awaitors_box > div > .awaitor > div > div{
  position: absolute; top: 0;
  font-size: 20px;
}
.admin_members .awaitors_box > div > .awaitor > div > span:nth-child(2){
  position: absolute; bottom: 0;
  padding: 4px 8px;
  background-color: #27ae60; border-radius: 4px;
  font-size: 16px; color: #fff; word-break: keep-all;
  cursor: pointer;
}
.admin_members .awaitors_box > div > .awaitor > div > span:nth-child(3){
  position: absolute; bottom: 0; left: 50px;
  padding: 4px 8px;
  background-color: #c0392b; border-radius: 4px;
  font-size: 16px; color: #fff; word-break: keep-all;
  cursor: pointer;
}
.admin_members .awaitors_box > .no_awaitors{
  display: flex; justify-content: center; align-items: center;
  font-size: 36px; word-break: keep-all;
}