.community{
  display: grid; grid-template-columns: repeat(10, 1fr);
  grid-template-areas: 
  "post post post post post post post chat chat chat";
  position: relative; left: 260px;
  width: 100%;
}

.community > .post_container{
  grid-area: post;
  background-color: aqua;
}








.community > .chat_container{
  grid-area: chat;
  background-color: bisque;
}