.group_container{
  display: flex; 
  height: 100%; 
  background: -webkit-linear-gradient(19deg, rgb(237, 66, 100), rgb(95, 195, 228)); background: linear-gradient(19deg, rgb(237, 66, 100), rgb(95, 195, 228));
}

.contents{
  position: relative; left: 260px;
  width: 100%; margin: 100px 80px; 
}

/* For NAV */
.nav{position: fixed; min-width: 260px; height: 100%; padding-top: 1px; background-color: rgba(2, 52, 63, .4);}
.nav ul{margin-top: 12px; width: 100%;}
.nav ul li{display: block; height: 40px; padding-left: 12px; font-size: 18px; line-height: 40px; transition: .2s ease-in-out; cursor: pointer;}
.nav ul li:hover{background-color: #2d2d2d; color: #fff; text-decoration: none;}

/* .nav .signedUser{display: flex; align-items: center; margin-left: 12px; position: absolute; bottom: 80px;}
.nav .signedUser .signedUser--img{width: 70px; height: 70px; margin-right: 12px; border-radius: 50%;}
.nav .signedUser .signedUser--txt{cursor: pointer;}
.nav .signedUser .signedUser--txt .signedUser__email{font-size: 12px;} */

.nav .back{display: block; height: 40px; width: 100%; padding-left: 12px; position: absolute; bottom: 60px; font-size: 18px; line-height: 40px; transition: .2s ease-in-out; cursor: pointer;}
.nav .back:hover{background-color: #2d2d2d; color: #fff;}

.nav footer{margin-left: 12px; position: absolute; bottom: 12px; font-size: 12px;}
.nav footer .footer--top{letter-spacing: 1.4px;}
.nav footer .footer--bot{letter-spacing: 1.1px;}


/* For Ranking */
.ranking_filter_container{
  display: flex; align-items: center;
  position: absolute; right: 30%; top: -50px;
}


.ranking{display: flex; flex-direction: column; align-items: center; width: 100%; max-height: 100%; overflow: auto; scrollbar-color: rgba(116, 185, 255, .5) rgba(255, 255, 255, 0); scrollbar-width: thin;}

.ranking_card{display: flex; align-items: center; justify-content: space-between; margin: 28px 0; padding: 16px; background-color: rgba(255, 255, 255, .8); box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; transition: .3s; cursor: pointer;}
.ranking_card:hover{background-color: rgba(200, 214, 229, .6);}

/* left => profile img */
.ranking_card > .left{display: flex; flex-direction: column; align-items: center; padding: 12px 24px 12px 12px;}
.ranking_card > .left > .profile_img{width: 100px; height: 100px; margin-bottom: 4px;}
.ranking_card > .left > .profile_img img{width: 100%; height: 100%; border-radius: 50%;}
.ranking_card > .left > .name{height: 100%; font-size: 16px; text-align: center;}

/* mid => rating and game score */
.ranking_card > .mid{display: flex; flex-direction: column; align-items: center; width: 260px; height: 100%;  border-left: 1px solid #636e72; border-right: 1px solid #636e72;}
.ranking_card > .mid > .rating{display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 4px;}
.ranking_card > .mid > .rating > span:first-child{margin-bottom: 2px; font-size: 48px; line-height: 48px; letter-spacing: 5px;}
.ranking_card > .mid > .rating > span:last-child{font-size: 12px; color: #444; letter-spacing: 1.2px;}

.ranking_card > .mid > .score{display: flex; align-items: center;}
.ranking_card > .mid > .score > span{display: flex; font-size: 20px;}
.ranking_card > .mid > .score > span.win{margin-right: 20px;}
/* right => ranking */
.ranking_card > .right{display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 16px; padding: 8px;}
.ranking_card > .right > .ranking{font-size: 48px;}
.ranking_card > .right > span:last-child{font-size: 24px; letter-spacing: 2px;}

.no_rankings{display: flex; justify-content: center; align-items: center; width: 90%; height: 100%; margin: 0 auto; background-color: rgba(255, 255, 255, .4); border-radius: 8px; font-size: 24px; text-align: center; word-break: keep-all;}



/* For Member List */
.member_list{width: 90%; height: 100%; margin: 0 auto; position: relative; overflow: auto; scrollbar-color: rgba(237, 66, 100, .6) rgba(255, 255, 255, 0); scrollbar-width: thin}

.list_container{display: grid; grid-template-columns: repeat(4, 1fr);}

.member_card{display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 16px; padding: 16px 0; border-radius: 4px; background-color: rgba(255,255,255,0.7); transition: .3s;}
.member_card:hover{background-color: rgba(200, 214, 229, .6);}

.member_card > .top{width: 80px; height: 80px; margin-bottom: 4px;}
.member_card > .top > img{width: 100%; height: 100%; border-radius: 50%;}

.member_card > .mid{display: flex; flex-direction: column; justify-content: center; align-items: center; min-width: 200px;}
/* .member_card > .mid > .displayName{font-size: 24px; font-weight: 500; text-align: center; letter-spacing: 1.5px;} */
.member_card > .mid > .name{margin-bottom: 2px; font-size: 24px; font-weight: 500; color: #444; text-align: center; letter-spacing: 1.5px;}
.member_card > .mid > .status{max-width: 200px; margin: 0 8px 8px; font-size: 16px; color: #5e5e5e; text-align: center; letter-spacing: 1.2px; word-break: keep-all;}

.member_card > .bot{margin: 0 16px;}
.member_card > .bot > div{letter-spacing: 1.5px; word-break: keep-all;}

.filter--info{width: 130px; height: 40px; padding: 8px 16px; background-color: rgba(255, 255, 255, .7); border: none; border-radius: 5px; position: absolute; top: -60px; right: 80px;}


.no_members{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; background-color: rgba(255, 255, 255, .4); border-radius: 8px; font-size: 24px; text-align: center; word-break: keep-all;}

@media screen and (max-width: 1580px) {
  .memberList{grid-template-columns: repeat(3, 1fr);}
}

/* Modal for Detailed Member in Member List */
.modal__member_detail{display: flex; flex-direction: column; height: 70vh;}

.modal__member_detail >.top{display: flex; justify-content: flex-start; align-items: center; width: 100%; height: 140px; margin-bottom: 8px; padding-left: 8px;}

.modal__member_detail > .top > .top__left{display: flex; justify-content: start; align-items: center; width: 300px; margin-right: 12px;}
.modal__member_detail > .top > .top__left > .detail__profile{width: 120px; height: 120px; margin-right: 16px;}
.modal__member_detail > .top > .top__left > .detail__profile > img{width: 100%; height: 100%; border-radius: 50%;}

.modal__member_detail > .top > .top__left > div:last-child{display: flex; flex-direction: column;}
.modal__member_detail > .top > .top__left > div:last-child > .detail__name{font-size: 28px; letter-spacing: 1.2px;}
.modal__member_detail > .top > .top__left > div:last-child > .detail__status{padding: 2px 4px; background-color: #16a085; border-radius: 4px; font-size: 16px; color: #fff; text-align: center; letter-spacing: 1.1px;}

.modal__member_detail > .top > .top__circleRate{width: 140px; height: 140px; margin-right: 16px; position: relative;}

.modal__member_detail > .top > .top__circleRate .hover{width: 100%; position: absolute; top: 50%; left: 0; transform: translateY(-50%); font-size: 18px; text-align: center; animation: size-up-down 1.2s infinite;}

.modal__member_detail > .top > .top__circleRate .game_reocrd{display: none; width: 140px; height: 140px; border-radius: 50%; background-color: rgba(255, 255, 255, .8); position: absolute; top: 50%; transform: translateY(-50%);}
.modal__member_detail > .top > .top__circleRate .game_reocrd::after{content: ''; display: block; width: 170px; height: 2px; background-color: #474747; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-30deg); animation: width-up-and-rotate 0.8s ease-in-out;}
.modal__member_detail > .top > .top__circleRate .game_reocrd .record__left{position: absolute; top: 30%; left: 35%; transform: translate(-50%, -50%); font-size: 32px; color: #1bb1a2; font-weight: 500; animation: slide-y 1.6s;}
.modal__member_detail > .top > .top__circleRate .game_reocrd .record__right{position: absolute; top: 70%; right: 35%; transform: translate(50%, -50%); font-size: 32px; color: #e74c3c; font-weight: 500; animation: slide-y 1.6s;}
.modal__member_detail > .top > .top__circleRate:hover .game_reocrd{display: block; cursor: pointer;}
.modal__member_detail > .top > .top__circleRate:hover .hover{display: none;}

.modal__member_detail > .top > .top__circleRate:last-child .game_reocrd .record__right{font-size: 26px;}

.modal__member_detail > .mid{display: flex; flex-direction: row; margin-bottom: 8px;}
.modal__member_detail > .mid > .button__memberDetail{margin-right: 4px; border: 1px solid #2d2d2d; border-radius: 8px; transition: .5s;}
.modal__member_detail > .mid > .button__memberDetail:hover{background-color: #2d2d2d; color: #fff;}

.modal__member_detail > .bot{width: 100%; height: calc(100% - 180px); position: relative;}
.modal__member_detail > .bot > .bot__left{width: 65%; height: 100%; position: relative;}
.modal__member_detail > .bot > .bot__right{width: 32%; height: 95%; position: absolute; top: 10px; right: 0; overflow: auto; scrollbar-width: thin;}

/* For Game records in Membe Detail Modal */
.modal__member_detail > .bot > .bot__right > div > div{border: 1px solid #2d2d2d;}

@keyframes size-up-down {
  0%{font-size: 18px;}
  50%{font-size: 19px;}
  100%{font-size: 18px;}
}

@keyframes width-up-and-rotate {
  0%{width: 0; transform: translate(-50%, -50%) rotate(0);}
  70%{width: 170px; transform: translate(-50%, -50%) rotate(0);}
  100%{transform:translate(-50%, -50%) rotate(-30dg);}
}

@keyframes slide-y {
  0%{opacity: 0;}
  40%{opacity: 0; transform: translateY(-50%);}
}










/* ASIDE */
/* ASIDE */
.asides{min-width: 280px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}

/* ASIDE1 */
/* .aside1{height: 50%; margin: 16px 8px 16px 0; overflow: auto; scrollbar-color: rgba(237, 66, 100, .6) rgba(255, 255, 255, 0); scrollbar-width: thin;} */


.aside1{width: 100%; height: 45%; margin-bottom: 16px; overflow: auto; scrollbar-color: rgba(237, 66, 100, .6) rgba(255, 255, 255, 0); scrollbar-width: thin;}

.aside1 .games{margin-top: 8px;}


.aside2{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 92%; height: 45%; margin-right: 20px; background-color: rgba(255, 255, 255, .6);}
.aside2 > h1{font-size: 16px;}
.aside2 > h2{font-size: 12px;}