.logIn{width: 100%; height: calc(100vh - 130px); position: relative; background-color: #101820;}
.logIn > h1{position: absolute; top: 10%; left: 50%; transform: translateX(-50%); font-size: 48px; color: #3498db;}

.logIn > form{display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -40%);}

.logIn > form > div{width: 300px; margin-top: 16px;}

.logIn > form > div > label{position: relative; top: -4px; font-size: 12px; color: #fff;}
.logIn > form > div > input{width: 100%; font-size: 16px; color: #fff; letter-spacing: 1.1px;}
