.my_groups{background-color: #101820;}

.joined_groups > .container__joined_groups{
  display: flex; flex-direction: column;
  width: 1080px; margin: 0 auto;
  transition: .5s;
}
.joined_groups > .container__joined_groups > h1{
  margin: 32px 0 24px 0; 
  font-size: 24px; color: #3498db; 
}
.joined_groups > .container__joined_groups > div{
  display: grid; grid-template-columns: repeat(3, 1fr);
}

.new_group > .container__new_group{
  display: flex; justify-content: center; align-items: center; 
  width: 1080px; margin: 0 auto; padding: 24px 0;
  transition: .5s;
}
.new_group > .container__new_group > button{font-size: 20px; transition: .5s;}
.new_group > .container__new_group > button:first-child{margin-right: 8px;}


/* GroupCard */
.group_card{
  display: flex; flex-direction: column; 
  width: 290px; margin: 16px auto 32px; 
  transition: .5s;
}

.group_card > .group_image{width: 100%; height: 290px; position: relative;}
.group_card > .group_image > img{width: 100%; height: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;}
.group_card > .group_image > a{display: flex; align-items: center; position: absolute; top: 12px; right: 8px;}
.group_card > .group_image > a:hover{animation: rotate 2s linear infinite;}

.group_card .team_name{width: 100%; padding: 16px 0; position: relative; background-color: #fff; font-size: 20px; color: #2d2d2d; text-align: center; letter-spacing: 1.5px; transition: .3;}
.group_card .team_name:hover{background-color: #2d2d2d; color: #fff;}

.group_card > .group_introduce{width: 100%; padding: 4px 0 8px 0; background-color: #fff; font-size: 12px; color: #4d4d4d; text-align: center;}

.group_card > .group_info{display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; padding: 8px 0 16px 0; background-color: #fff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.group_card > .group_info li{display: flex; flex-direction: column; justify-content: center; width: 33%; border-right: 1px solid #ecf0f1;}
.group_card > .group_info li:last-child{border: none;}
.group_card > .group_info li .info_name{font-size: 12px; color: #2d2d2d; text-align: center;}
.group_card > .group_info li .info_content{font-size: 16px; color: #4d4d4d; text-align: center;}

@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

/* 타블렛 사이즈 */
/* 타블렛 사이즈 */
@media screen and (max-width: 1079px) {
  .joined_groups > .container__joined_groups{width: 768px;}

  /* Group Card */
  .group_card{width: 220px;}

  .group_card > .group_image{height: 220px;}

  .group_card .team_name{padding: 12px 0; font-size: 18px;}

  .group_card > .group_introduce{font-size: 10px;}

  .group_card > .group_info li .info_name{font-size: 10px;}
  .group_card > .group_info li .info_content{font-size: 14px;}

  .new_group > .container__new_group{width: 768px;}
}

/* 작은 타블렛 사이즈 */
/* 작은 타블렛 사이즈 */
@media screen and (max-width: 768px) {
  .joined_groups > .container__joined_groups{width: 85%;}

  .joined_groups > .container__joined_groups > div{
    grid-template-columns: repeat(2, 1fr);
  }

  /* Group Card */
  .group_card > .group_info li .info_content{font-size: 12px;}

  .new_group > .container__new_group{width: 85%;}
}

/* 휴대폰 사이즈 */
/* 휴대폰 사이즈 */
@media screen and (max-width: 575px) {
  .joined_groups > .container__joined_groups > div{
    grid-template-columns: repeat(1, 1fr);
  }

  /* Group Card */
  .group_card{width: 280px;}
  .group_card > .group_image{
    height: 28px;
    background-color: #fce9ed;
    border-top-left-radius: 8px; border-top-right-radius: 8px;
  }
  .group_card > .group_image > img{display: none;}
  .group_card > .group_image > a{
    top: 50%; transform: translateY(-50%);
  }
  .group_card > .group_introduce{display: none;}

  .new_group > .container__new_group > button{
    font-size: 16px;
  }
}