.header{
  width: 100%; height: 70px; 
  background-color: #101820; 
  border-bottom: 1px solid #636e72;
}
.header .container__index__header{
  display: flex; justify-content: space-between; align-items: center; 
  width: 1080px; height: 100%; margin: 0 auto;
  transition: .5s;
}
.header .logo{
  margin: 0; 
  font-size: 32px; color: #3498db; letter-spacing: 2px;
}

.header ul{display: flex; align-items: center; position: relative;}

.header .header__loggedIn li:nth-child(1){
  display: flex; justify-content: center; align-items: center;
  position: relative;
  width: 40px; height: 40px; margin-right: 8px;
  transition: .5s;
}
.header .header__loggedIn li:nth-child(1) img{
  width: 100%; height: 100%;
  border-radius: 50%;
}
.header .header__loggedIn li:nth-child(1) i{
  display: none;
  position: absolute;
  font-size: 20px; color: #fff;
}
.header .header__loggedIn li:nth-child(1):hover img{
  opacity: .6;
}
.header .header__loggedIn li:nth-child(1):hover i{
  display: flex; justify-content: center; align-items: center;
  cursor: pointer;
}

.header .header__loggedIn .name_editing{
  display: flex; align-items: center; margin-right: 8px;
}
.header .header__loggedIn .name_editing input{
  margin-right: 4px;
  border-bottom: 1px solid #3498db;
  color: #3498db;
}
.header .header__loggedIn .name_editing i{
  font-size: 24px; color: #3498db;
  cursor: pointer; transition: .3s;
}
.header .header__loggedIn .name_editing i:hover{
  color: #27ae60;
}
.header .header__loggedIn .name{
  display: flex; justify-content: center; align-items: center;
  position: relative;
  margin-right: 8px;
  transition: .5s;
}
.header .header__loggedIn .name span{
  font-size: 28px; color: #3498db; line-height: 28px; letter-spacing: 1.2;
}
.header .header__loggedIn .name i{
  position: absolute;
  display: none;
  font-size: 20px; color: #fff;
}
.header .header__loggedIn .name:hover span{
  opacity: .6;
}
.header .header__loggedIn .name:hover i{
  display: block;
  cursor: pointer;
}


.header .header__loggedOut button{margin-left: 8px;}



/* 타블렛 사이즈 */
/* 타블렛 사이즈 */
/* 타블렛 사이즈 */
@media screen and (max-width: 1079px) {
  .header .container__index__header{
    width: 768px;
  }
}

/* 작은 타블렛 사이즈 */
/* 작은 타블렛 사이즈 */
/* 작은 타블렛 사이즈 */
@media screen and (max-width: 768px) {
  .header .container__index__header{
    width: 85%;
  }

  .header .logo{
    font-size: 20px;
  }

  .header .header__loggedIn li:nth-child(1){
    width: 32px; height: 32px;
  }
  .header .header__loggedIn li:nth-child(2){
    margin-right: 6px;
  }
  .header .header__loggedIn li:nth-child(2) span{
  font-size: 24px; line-height: 24px;
  }
  
  .header .header__loggedIn button{font-size: 10px;}
}